<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <h1>Messenger Bot</h1>

    <hr />

    <form action="/setup-profile" method="POST">
      <button type="submit">Setup Profile</button>
    </form>

    <hr />

    <footer>
      <p>Tjienshibainu</p>
      <p>Love diu</p>
    </footer>
  </body>
</html>
