<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tarot</title>
  </head>

  <body>
    <h1>Tarot card</h1>

    <div>
      <img
        src="https://raw.githubusercontent.com/mitchell-vu/ts-messenger-bot/main/src/public/assets/cards/<%= card.img %>"
        alt="tarot"
      />
      <h2><%= card.name %></h2>
    </div>
  </body>
</html>
